/* ----------------------------
base
---------------------------- */

html,
body
{
	color: #777;
	background: #fff;
}

body
{
	margin: 0;
	padding: 0;
	font-size: 1em;
	font-family: helvetica, arial, sans-serif;
	line-height: 1.3;
}

h1,
h2,
h3,
h4,
h5,
h6
{
	margin: 0;
	color: #424242;
	line-height: 1.1;
}

img
{
	max-width: 100%;
	height: auto;
	border: 0;
	vertical-align: middle;
}

a:focus img { background: #000; }
a:hover img { background: #3bb2d0; }
a:active img { background: #af0000; }
blockquote { margin: 0; }

/* ----------------------------
wide
---------------------------- */

@media (min-width: 38em)
{
	body
	{
		font-size: 1.125em;
		/* 18px/16px */
	}
}
