/* ----------------------------
banner
---------------------------- */

.row--banner
{
	background-color: #626e6d;
	background-image: url(../img/banner-small.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

@media (min-width: 38em)
{
	.row--banner { background-image: url(../img/banner.jpg); }
}

/* ----------------------------
header
---------------------------- */

.header
{
	padding: 1.25em 1em;
	/* 20px/16px - 16px/16px */
}

.header__logo
{
	float: left;
	padding-top: .2em;
}

.header__nav
{
	float: right;
	width: 150px;
}

.header__nav ul
{
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: right;
}

.header__nav li
{
	display: inline-block;
	margin: 0;
}

.header__nav a
{
	display: block;
	margin-right: .2em;
	padding: 0.6em 1em 0.4em;
	border-radius: .3em;
	color: #fff;
	background: none;
	font-size: 0.8125em;
	/* 13px/16px */
	font-weight: bold;
	text-decoration: none;
}

.header__nav-contact a { margin-right: 0; }

.current a
{
	color: #fff;
	background: #56b880;
}

.header__nav a:focus { background: #000; }
.header__nav a:hover { background: #3bb2d0; }
.header__nav a:active { background: #af0000; }

@media (min-width: 38em)
{
	.header
	{
		padding: 2.2222em 2em;
		/* 40px/18px - 36px/18px */
	}
	
	.header__nav { width: 12em; }

	.header__nav a
	{
		font-size: 0.8333em;
		/* 15px/18px */
	}
}

/* ----------------------------
banner-content
---------------------------- */

.banner-content
{
	padding: 1.875em 1.5em 2.8125em;
	/* 30px/16px - 24px/16px - 45px/16px */
	text-align: center;
}

.banner-content__heading
{
	margin: 0 0 1.875em;
	/* 30px/16px */
	color: #fff;
	font-size: 1.5em;
	/* 24px/16px */
	font-weight: normal;
}

@media (min-width: 38em)
{
	.banner-content
	{
		padding: 7.5em 2em;
		/* 135px/18px - 36px/18px */
	}

	.banner-content__heading
	{
		font-size: 2.5556em;
		/* 46px/18px */
	}
}

/* ----------------------------
features
---------------------------- */

.features { text-align: center; }

.features__row
{
	margin-bottom: 2.1875em;
	/* 35px/16px */
}

.features__heading
{
	margin: 0 0 .75em;
	/* 12px/16px */
	font-size: 1.125em;
	/* 18px/16px */
}

.features__text { margin: 0; }

.features__bike
{
	height: 90px;
	background: url(../img/icon-bike.png) no-repeat center;
	background-size: contain;
}

.features__phone
{
	height: 149px;
	background: url(../img/icon-phone.png) no-repeat center;
	background-size: contain;
}

.features__safe
{
	height: 80px;
	background: url(../img/icon-safe.png) no-repeat center;
	background-size: contain;
}

@media (min-width: 38em)
{
	.features { text-align: left; }

	.features__row
	{
		margin-bottom: 4.1667em;
		/* 75px/18px */
	}
	
	.features__row:last-child { margin: 0; }

	.features__padding
	{
		padding-top: 4em;
		/* 72px/18px */
	}
	
	.features__heading
	{
		font-size: 1.5556em;
		/* 75px/18px */
		font-weight: normal;
	}
}

@media (min-width: 50em)
{
	.features__bike { height: 154px; }
	.features__phone { height: 296px; }
	.features__safe { height: 141px; }
}

/* ----------------------------
testimonials
---------------------------- */

/* ----------------------------
facts
---------------------------- */

/* ----------------------------
press
---------------------------- */

/* ----------------------------
footer
---------------------------- */

